* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 999px;
}
/* header */
.header {
  background: #cacdcc;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: rgba(182, 42, 7, 0.961);
  font-size: 1.6rem;
  padding: 8px 21px;
  font-weight: 200;
}
.nav li.active a,
.nav a:hover {
  color: rgb(17, 20, 20);
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #050505;
}
.header .btn-sign-up {
  min-width: 144px;
}
.btn:hover {
  color: #171100;
  background: #fff;
}
.header .action {
  margin-left: 49px;
}
/* hero */
.hero {
  padding: 56px 0 0 65px;
  background-color: #cacdcc;
}
.hero .body {
  display: flex;
}
/* hero left  */
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .content-block {
  width: 52%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-sumary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgb(0, 0, 0);
}
.hero-sumary .item {
  display: flex;
  align-items: center;
}
.hero-sumary .item + .item {
  margin-top: 22px;
}
.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece9e9;
}
.hero-sumary .icon2 {
  background-color: bisque;
}
.hero-sumary .icon3 {
  background-color: blanchedalmond;
}
.hero-sumary .infor {
  margin-left: 16px;
}
.hero-sumary .label {
  color: #5f5353;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-sumary .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #171313;
  line-height: 1.67;
}
/* hero right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 58px;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5f5f;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px #050505;
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
